* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style the header */
.header {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/ocean-quotes-index-1624414741.jpg?crop=1.00xw:0.752xh;0,0.224xh&resize=1200:*");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  color: white;
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  /*background-color: #333;*/
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  border-bottom: solid;
  color: black;
  opacity: 0.6;
}

.navbarindiv {
  background-color: #ddd;
  opacity: 0.6;
  border-bottom: solid;
  border-color: black;
}

/* Main column */
.main {
  flex: 0.75;
  background-color: white;
  padding: 20px;
  margin-left: 10px;
  margin-right:10px;
  margin-top: 10px;
  box-shadow: 0px 0px 50px rgba(0,0,0,0.7);
}

.header_text {
  font-size: 18px;
  font-weight: bold;
}
  